@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* Fonts */
    --body-font: 'Montserrat', sans-serif;

    /* Colors */
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --success-color: #28a745;
    --info-color: #17a2b8;
    --warning-color: #ffc107;
    --danger-color: #dc3545;
    --light-color: #f8f9fa;
    --dark-color: #343a40;
}

body {
    font-family: var(--body-font);
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 10px 100px 0 10px;
    margin-left: 7vh;
    margin-right: 7vh;
}

#navbar ul {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#nav-menu {
    position: relative;
    width: 50px;
    font-size: 1em;
    font-weight: bold;
    color: rgb(0, 0, 0);
    margin: 0 20px 0 20px;
    border: transparent 3px solid;
    text-decoration: none;
}

#navbar li {
    float: left;
}

#nav-menu::before {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #000000;
    transition: width 0.3s ease-in-out;
}

#nav-menu:hover::before {
    width: 100%;
}

#navbar img {
    width: 100px;
}

.dropdown_menu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/* Show submenu */
.dropdown_menu:hover {
    max-height: 1000px;
    transition: max-height 0.2s ease-in;
}

main {
    display: grid; /* Change to grid layout */
    grid-template-columns: 35% 60%; /* Define columns */
    gap: 2%; /* Add gap between columns */
    margin-top: 100px;
    margin-left: 5vw;
}

.header {
    display: flex;
    flex-direction: column;
    color: #000000;
}

.header h1 {
    font-size: 4em;
    margin: 0;
}

.header p {
    font-size: 1.5em;
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-between;
}

.container .card {
    padding: 20px;
    align-self: flex-end;
    text-align: center;
    border-radius: 20px;
    box-shadow: #000000 0px 0px 10px;
}

.container .card img {
    display: block;
    height: 200px;
    margin: 0 auto; /* Add this line */
}

.card h3  {
    text-align: left;
    font-size: 2em;
    margin: 0;
}

.card p {
    text-align: left;
    font-size: 1.5em;
    margin: 0;
}

.logo-container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.logo {
    display: flex;
    flex-direction: row;
}

.logo img {
    height: 4vw; /* Adjust height to make logos smaller */
    margin-left: 50px;
    margin-right: 50px;
    object-fit: contain; /* Maintain aspect ratio */
    cursor: pointer;
}

/* RESPONSIVE */
@media screen and (max-width: 500px) {
    #navbar {
        display: block;
        padding: 0;
    }

    #navbar ul {
        display: block;
        padding: 0;
    }

    #navbar li {
        display: block;
        padding: 10px;
    }

    #navbar img {
        width: 50px;
        margin-left: 0;
    }
}